---
import Container from "./Container.astro"

---

<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <Container>
        <div class="relative pt-36 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
                <h1 class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-6xl">Download video dan musik dengan <span class="text-primary dark:text-white">Chatbot.</span></h1>
                <p class="mt-8 text-gray-700 dark:text-gray-300">Xinzuo Chatbot, asisten virtual Anda yang didukung oleh kecerdasan buatan, dibangun oleh Invoralink untuk menyederhanakan interaksi pelanggan, memberikan dukungan instan, dan meningkatkan efisiensi. Layanan ini telah berdiri kokoh selama 3 tahun. Hubungi kami untuk informasi lebih lanjut atau pertanyaan tentang Xinzuo Chatbot atau layanan kami yang lain.</p>
                <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                    <a
                      href="#start-now"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
                      <span class="relative text-base font-semibold text-white"
                        >Mulai uji coba</span
                      >
                    </a>
                    <a
                      href="#features"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
                    >
                      <span
                        class="relative text-base font-semibold text-primary dark:text-white"
                        >Cara Kerja</span
                      >
                    </a>
                </div>
                <div class="grid grid-cols-3 py-8 mt-16 border-y border-gray-100 dark:border-gray-800 sm:flex justify-between" style="flex-direction: row-reverse">
                  <div class="text-left">
                    <a href="#" class="flex items-center space-x-3 transition hover:text-primary">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="20"
                        fill="#B197FC"
                        class="5"
                        viewBox="0 0 512 512"
                      >
                        <path
                        d="M64 0C28.7 0 0 28.7 0 64V352c0 35.3 28.7 64 64 64h96v80c0 6.1 3.4 11.6 8.8 14.3s11.9 2.1 16.8-1.5L309.3 416H448c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H64z"
                        />
                      </svg>
                      <span><h6 class="text-lg font-semibold text-gray-700 dark:text-white">12.930.830</h6></span>
                    </a>
                  </li>
                 <p class="mt-2 text-gray-500">Pesan di terima</p>
              </div>
                    <div class="text-left">
                      <a href="#" class="flex items-center space-x-3 transition hover:text-primary">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="20"
                          height="20"
                          fill="#B197FC"
                          class="5"
                          viewBox="0 0 512 512"
                        >
                          <path
                          d="M64 0C28.7 0 0 28.7 0 64V352c0 35.3 28.7 64 64 64h96v80c0 6.1 3.4 11.6 8.8 14.3s11.9 2.1 16.8-1.5L309.3 416H448c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H64z"
                          />
                        </svg>
                        <span><h6 class="text-lg font-semibold text-gray-700 dark:text-white">11.345.028</h6></span>
                      </a>
                    </li>
                   <p class="mt-2 text-gray-500">Pesan di kirim</p>
                </div>
                    <div class="text-left">
                      <a href="#" class="flex items-center space-x-3 transition hover:text-primary">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="25"
                          height="25"
                          fill="#B197FC"
                          class="5"
                          viewBox="0 0 740 512"
                        >
                          <path
                            d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM609.3 512H471.4c5.4-9.4 8.6-20.3 8.6-32v-8c0-60.7-27.1-115.2-69.8-151.8c2.4-.1 4.7-.2 7.1-.2h61.4C567.8 320 640 392.2 640 481.3c0 17-13.8 30.7-30.7 30.7zM432 256c-31 0-59-12.6-79.3-32.9C372.4 196.5 384 163.6 384 128c0-26.8-6.6-52.1-18.3-74.3C384.3 40.1 407.2 32 432 32c61.9 0 112 50.1 112 112s-50.1 112-112 112z"
                          />
                        </svg>
                        <span><h6 class="text-lg font-semibold text-gray-700 dark:text-white">1.409</h6></span>
                      </a>
                    </li>
                   <p class="mt-2 text-gray-500">Pengguna bot</p>
                </div>
            </div>
        </div>
    </Container>
</div>